/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import url(http://fonts.googleapis.com/css?family=Economica:700);
@import url(http://fonts.googleapis.com/css?family=Rancho);
@import "compass/reset";
@import "compass/css3/inline-block";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/images";

body {
	background: #EEE;
	font: normal 90%/1 arial;
	text-align: center;
}

header {
	padding: 40px 0 30px;
	margin: 0 auto;
	text-align: center;
	font: normal 4em/1 'Rancho', arial;
	background: #99D5F6;
	color: #FFF;
	@include text-shadow(darken(#99D5F6, 40%) 0 3px 1px);
}

#actions {
	padding: 1% 0;
	text-align: center;
	@include background(linear-gradient(#99D5F6, #EEE));
	li {
		color: #EEE;
		padding: 1px;
		margin: 0 2px;
		@include inline-block;
		@include border-radius(3px);
		@include background(linear-gradient(#555, #333));
		@include box-shadow(#99D5F6 0 0 15px);
		label {
			font: bold .9em 'Economica', monospace;
			@include text-shadow(#333 0 1px 0);
		}
		span {
			cursor: pointer;
			padding: 0 7px;
			margin: 3px;
			color: #333;
			font: bold 1.5em 'Economica', monospace;
			@include inline-block;
			@include border-radius(3px);
			@include background(linear-gradient(#FFF, #CCC));
			&:hover {
				background: #EEE;
			}
		}
		&.separator {
			background: none;
			cursor: default;
			color: #FFF;
			@include box-shadow(0 0 0 0);
		}
	}
}

table {
	width: 80%;
	margin: 2% auto;
	border: 1px solid #CCC;
	border-collapse: separate;
	border-spacing: 10px;
	td, th {
		padding: 10px;
		background: white;
		outline: 0;
		&:hover {
			background: #FFD;
		}
		&.selected {
			background: #FFA;
		}
	}
	th {
		font-weight: bold;
	}
}

#code {
	background: #FFF;
	margin: 2% auto;
	width: 80%;
	// height: 300px;
	display: none;
	border: 1px solid #CCC;
	outline: 0;
	font: normal 1em monospace;
}

#new-table {
	width: 80%;
	margin: 0 auto;
	padding: 2% 0;
	display: none;
	border-bottom: 2px #333 solid;
	@include background(linear-gradient(#EEE, #CCC));
	p {
		font: normal 2.2em/1 'Rancho', arial;
		margin-bottom: 20px;
		color: #333;
		span {
			font-size: .7em;
		}
	}
	div.field {
		color: #EEE;
		padding: 10px;
		margin: 0 2px;
		@include inline-block;
		@include border-radius(3px);
		@include background(linear-gradient(#555, #333));
		label {
			display: block;
			margin: 0 auto 10px;
			font: bold 1.2em 'Economica', monospace;
			@include text-shadow(#333 0 1px 0);
		}
		input[type="text"] {
			width: 60px;
			border: 0;
			text-align: center;
			font: bold 2em monospace;
			@include border-radius(3px);
		}
	}
	#new-table-actions {
		@include inline-block;
		div {
			color: #EEE;
			padding: 5px 10px;
			cursor: pointer;
			@include border-radius(3px);
			@include background(linear-gradient(#555, #333));
		}
		#create-new-table {
			font: bold 2em 'Economica', monospace;
			margin-top: 5px;
		}
		#cancel-new-table {
			font: bold 1.2em 'Economica', monospace;
		}
	}
}