@import url(http://fonts.googleapis.com/css?family=Economica:700);
@import url(http://fonts.googleapis.com/css?family=Aladin);
/* line 17, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/screen.scss */
body {
  background: #EEE;
  font: normal 90%/1 arial;
  text-align: center;
}

/* line 18, ../sass/screen.scss */
header {
  padding: 40px 0 30px;
  margin: 0 auto;
  text-align: center;
  font: normal 4em/1 "Aladin", arial;
  background: #99D5F6;
  color: #FFF;
  text-shadow: #1079b3 0 3px 1px;
}

/* line 28, ../sass/screen.scss */
#actions {
  padding: 1% 0;
  text-align: center;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #99d5f6), color-stop(100%, #eeeeee));
  background: -webkit-linear-gradient(#99d5f6, #eeeeee);
  background: -moz-linear-gradient(#99d5f6, #eeeeee);
  background: -o-linear-gradient(#99d5f6, #eeeeee);
  background: -ms-linear-gradient(#99d5f6, #eeeeee);
  background: linear-gradient(#99d5f6, #eeeeee);
}
/* line 32, ../sass/screen.scss */
#actions li {
  color: #EEE;
  padding: 1px;
  margin: 0 2px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555555), color-stop(100%, #333333));
  background: -webkit-linear-gradient(#555555, #333333);
  background: -moz-linear-gradient(#555555, #333333);
  background: -o-linear-gradient(#555555, #333333);
  background: -ms-linear-gradient(#555555, #333333);
  background: linear-gradient(#555555, #333333);
  -webkit-box-shadow: #99d5f6 0 0 15px;
  -moz-box-shadow: #99d5f6 0 0 15px;
  box-shadow: #99d5f6 0 0 15px;
}
/* line 7, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#actions li {
  *display: inline;
}
/* line 40, ../sass/screen.scss */
#actions li label {
  font: bold .9em 'Economica', monospace;
  text-shadow: #333333 0 1px 0;
}
/* line 44, ../sass/screen.scss */
#actions li span {
  cursor: pointer;
  padding: 0 7px;
  margin: 3px;
  color: #333;
  font: bold 1.5em 'Economica', monospace;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  background: -webkit-linear-gradient(#ffffff, #cccccc);
  background: -moz-linear-gradient(#ffffff, #cccccc);
  background: -o-linear-gradient(#ffffff, #cccccc);
  background: -ms-linear-gradient(#ffffff, #cccccc);
  background: linear-gradient(#ffffff, #cccccc);
}
/* line 7, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#actions li span {
  *display: inline;
}
/* line 53, ../sass/screen.scss */
#actions li span:hover, #actions li span:focus {
  background: #EEE;
}
/* line 57, ../sass/screen.scss */
#actions li.separator {
  background: none;
  cursor: default;
  color: #FFF;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}

/* line 66, ../sass/screen.scss */
table {
  max-width: 80%;
  margin: 2% auto;
  border: 1px solid #CCC;
  border-collapse: separate;
  border-spacing: 10px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
table {
  *display: inline;
}
/* line 73, ../sass/screen.scss */
table td, table th {
  padding: 10px;
  background: white;
  outline: 0;
}
/* line 77, ../sass/screen.scss */
table td:hover, table th:hover {
  background: #FFD;
}
/* line 80, ../sass/screen.scss */
table td.selected, table th.selected {
  background: #FFA;
}
/* line 84, ../sass/screen.scss */
table th {
  font: bold 0.9em arial;
  text-transform: uppercase;
}

/* line 90, ../sass/screen.scss */
.code {
  background: #FFF;
  margin: 2% auto;
  width: 80%;
  display: none;
  border: 1px solid #CCC;
  outline: 0;
  font: normal 1em monospace;
  overflow-x: scroll;
}

/* line 101, ../sass/screen.scss */
#new-table {
  width: 80%;
  margin: 0 auto;
  padding: 2% 0;
  display: none;
  border-bottom: 2px #333 solid;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background: -webkit-linear-gradient(#eeeeee, #cccccc);
  background: -moz-linear-gradient(#eeeeee, #cccccc);
  background: -o-linear-gradient(#eeeeee, #cccccc);
  background: -ms-linear-gradient(#eeeeee, #cccccc);
  background: linear-gradient(#eeeeee, #cccccc);
}
/* line 108, ../sass/screen.scss */
#new-table p {
  font: normal 2.2em/1 "Aladin", arial;
  margin-bottom: 20px;
  color: #333;
}
/* line 112, ../sass/screen.scss */
#new-table p span {
  font-size: .7em;
}
/* line 116, ../sass/screen.scss */
#new-table div.field {
  color: #EEE;
  padding: 10px;
  margin: 0 2px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555555), color-stop(100%, #333333));
  background: -webkit-linear-gradient(#555555, #333333);
  background: -moz-linear-gradient(#555555, #333333);
  background: -o-linear-gradient(#555555, #333333);
  background: -ms-linear-gradient(#555555, #333333);
  background: linear-gradient(#555555, #333333);
}
/* line 7, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#new-table div.field {
  *display: inline;
}
/* line 123, ../sass/screen.scss */
#new-table div.field label {
  display: block;
  margin: 0 auto 10px;
  font: bold 1.2em 'Economica', monospace;
  text-shadow: #333333 0 1px 0;
}
/* line 129, ../sass/screen.scss */
#new-table div.field input[type="text"] {
  width: 60px;
  border: 0;
  text-align: center;
  font: bold 2em monospace;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 137, ../sass/screen.scss */
#new-table #new-table-actions {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#new-table #new-table-actions {
  *display: inline;
}
/* line 139, ../sass/screen.scss */
#new-table #new-table-actions div {
  color: #EEE;
  padding: 5px 10px;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555555), color-stop(100%, #333333));
  background: -webkit-linear-gradient(#555555, #333333);
  background: -moz-linear-gradient(#555555, #333333);
  background: -o-linear-gradient(#555555, #333333);
  background: -ms-linear-gradient(#555555, #333333);
  background: linear-gradient(#555555, #333333);
}
/* line 145, ../sass/screen.scss */
#new-table #new-table-actions div:hover, #new-table #new-table-actions div:focus {
  background: #333;
}
/* line 149, ../sass/screen.scss */
#new-table #new-table-actions #create-new-table {
  font: bold 2em 'Economica', monospace;
  margin-top: 5px;
}
/* line 153, ../sass/screen.scss */
#new-table #new-table-actions #cancel-new-table {
  font: bold 1.2em 'Economica', monospace;
}
