@import url(http://fonts.googleapis.com/css?family=Economica:700);
@import url(http://fonts.googleapis.com/css?family=Rancho);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 15, ../sass/screen.scss */
body {
  background: #EEE;
  font: normal 90%/1 arial;
  text-align: center;
}

/* line 21, ../sass/screen.scss */
header {
  padding: 40px 0 30px;
  margin: 0 auto;
  text-align: center;
  font: normal 4em/1 "Rancho", arial;
  background: #99D5F6;
  color: #FFF;
  text-shadow: #1079b3 0 3px 1px;
}

/* line 31, ../sass/screen.scss */
#actions {
  padding: 1% 0;
  text-align: center;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #99d5f6), color-stop(100%, #eeeeee));
  background: -webkit-linear-gradient(#99d5f6, #eeeeee);
  background: -moz-linear-gradient(#99d5f6, #eeeeee);
  background: -o-linear-gradient(#99d5f6, #eeeeee);
  background: -ms-linear-gradient(#99d5f6, #eeeeee);
  background: linear-gradient(#99d5f6, #eeeeee);
}
/* line 35, ../sass/screen.scss */
#actions li {
  color: #EEE;
  padding: 1px;
  margin: 0 2px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555555), color-stop(100%, #333333));
  background: -webkit-linear-gradient(#555555, #333333);
  background: -moz-linear-gradient(#555555, #333333);
  background: -o-linear-gradient(#555555, #333333);
  background: -ms-linear-gradient(#555555, #333333);
  background: linear-gradient(#555555, #333333);
  -webkit-box-shadow: #99d5f6 0 0 15px;
  -moz-box-shadow: #99d5f6 0 0 15px;
  box-shadow: #99d5f6 0 0 15px;
}
/* line 7, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#actions li {
  *display: inline;
}
/* line 43, ../sass/screen.scss */
#actions li label {
  font: bold .9em 'Economica', monospace;
}
/* line 46, ../sass/screen.scss */
#actions li span {
  cursor: pointer;
  padding: 0 7px;
  margin: 3px;
  color: #333;
  font: bold 1.5em 'Economica', monospace;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  background: -webkit-linear-gradient(#ffffff, #cccccc);
  background: -moz-linear-gradient(#ffffff, #cccccc);
  background: -o-linear-gradient(#ffffff, #cccccc);
  background: -ms-linear-gradient(#ffffff, #cccccc);
  background: linear-gradient(#ffffff, #cccccc);
}
/* line 7, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#actions li span {
  *display: inline;
}
/* line 56, ../sass/screen.scss */
#actions li span:hover {
  background: #EEE;
}
/* line 60, ../sass/screen.scss */
#actions li.separator {
  background: none;
  cursor: default;
  color: #FFF;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}

/* line 69, ../sass/screen.scss */
table {
  width: 80%;
  margin: 2% 10%;
  border: 1px solid #CCC;
  border-collapse: separate;
  border-spacing: 10px;
}
/* line 75, ../sass/screen.scss */
table td, table th {
  padding: 10px;
  background: white;
  outline: 0;
}
/* line 79, ../sass/screen.scss */
table td:hover, table th:hover {
  background: #FFD;
}
/* line 82, ../sass/screen.scss */
table td.selected, table th.selected {
  background: #FFA;
}
/* line 86, ../sass/screen.scss */
table th {
  font-weight: bold;
}

/* line 91, ../sass/screen.scss */
#code {
  background: #FFF;
  margin: 2% auto;
  width: 80%;
  display: none;
  border: 1px solid #CCC;
  outline: 0;
  font: normal 1em monospace;
}
