@import url(http://fonts.googleapis.com/css?family=Henny+Penny);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/screen.scss */
body {
  background: #EEE;
  font: normal 90%/1 arial;
}

/* line 18, ../sass/screen.scss */
header {
  width: 80%;
  padding: 40px 0 20px;
  margin: 0 auto;
  text-align: center;
  font: normal 3em/1 "Henny Penny", arial;
  background: #FFF;
  color: #555;
}

/* line 28, ../sass/screen.scss */
#actions {
  width: 80%;
  margin: 0 10%;
  padding: 1% 0;
  text-align: center;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
  background: -webkit-linear-gradient(#ffffff, #eeeeee);
  background: -moz-linear-gradient(#ffffff, #eeeeee);
  background: -o-linear-gradient(#ffffff, #eeeeee);
  background: -ms-linear-gradient(#ffffff, #eeeeee);
  background: linear-gradient(#ffffff, #eeeeee);
}
/* line 34, ../sass/screen.scss */
#actions li {
  font: bold 1.2em/1 monospace;
  background: #555;
  color: #EEE;
  padding: 1px;
  margin: 0 2px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 7, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#actions li {
  *display: inline;
}
/* line 42, ../sass/screen.scss */
#actions li label {
  vertical-align: -2px;
}
/* line 45, ../sass/screen.scss */
#actions li span {
  cursor: pointer;
  padding: 0 5px;
  margin: 3px;
  background: #EEE;
  color: #555;
  font: bold 1.7em/1 monospace;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 7, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#actions li span {
  *display: inline;
}
/* line 54, ../sass/screen.scss */
#actions li span:hover {
  background: gold;
}
/* line 58, ../sass/screen.scss */
#actions li.separator {
  background: none;
  cursor: default;
  color: #AAA;
}

/* line 66, ../sass/screen.scss */
table {
  width: 80%;
  margin: 2% 10%;
  border: 1px solid #CCC;
  border-collapse: separate;
  border-spacing: 10px;
}
/* line 72, ../sass/screen.scss */
table td, table th {
  padding: 10px;
  background: white;
  outline: 0;
}
/* line 76, ../sass/screen.scss */
table td:hover, table th:hover {
  background: #FFD;
}
/* line 79, ../sass/screen.scss */
table td.selected, table th.selected {
  background: #FFA;
}
/* line 83, ../sass/screen.scss */
table th {
  font-weight: bold;
}

/* line 88, ../sass/screen.scss */
#code {
  background: #FFF;
  margin: 2% 10%;
  padding: 1%;
  width: 78%;
  height: 300px;
  display: none;
  border: 1px solid #CCC;
  outline: 0;
}
